<div class="footer">
    <div class="footer-logo">
      <h2>Forbes</h2>
    </div>
    <div class="footer-text">
      <p>© 2024 Forbes Media LLC. All Rights Reserved.</p>
    </div>
    <hr />
    <div class="footer-links">
      <a href="#">AdChoices</a>
      <a href="#">Privacy Statement</a>
      <a href="#">Terms and Conditions</a>
      <a href="#">Digital Terms of Sale</a>
      <a href="#">Contact Us</a>
      <a href="#">Send Us Feedback</a>
      <a href="#">Jobs At Forbes</a>
      <a href="#">Reprints & Permissions</a>
      <a href="#">Forbes Press Room</a>
      <a href="#">Forbes Quote of the Day</a>
      <a href="#">Advertise</a>
    </div>
  </div>